p{
  color:rgb(193, 131, 8);
  margin-left: 20px;
}

h1 {
  position: relative;
  padding: 0.5em;
  background: #a6d3c8;
  color: white;
}

h1::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}

body {
  background-color: #e4f6f5;
}

h2 {
  display: flex;          /* フレックスボックスにする */
  flex-direction: row;    /* 横向きに表示（column に変更すると縦向きに表示） */

  width: 750px;
  border: 1px solid gray;
  padding: 5px 5px 5px 0;
}

/*h2 {
  flex: 2;                 横幅2で表示 

  background-color: cyan;
  margin-left: 5px;
}*/

h2 {
  flex: 1;                /* 横幅1で表示 */
  background-color: #a6d3c8;
  margin-left: 5px;
}

h2 {
  color:rgb(243, 65, 65);
}

body {
  background-image: url(https://3.bp.blogspot.com/-ZJsl7Md-0o8/WboZW5Nd_mI/AAAAAAABGm0/PqR5guTxT-Y20AyWV3IRFMV2IBGDA6PlwCLcBGAs/s400/gourmet_man.png);
  background-repeat: no-repeat;
  margin-left: 300px;
}