a:link {  /*未訪問のリンクの色彩*/
    color: rgb(112, 186, 236);  
  }
  
  a:visited {  /*訪問済みのリンクの色彩*/
    color: rgba(235, 104, 143, 0.506);
  }
  
  a:hover{  /*リンクにカーソルを合わせると色が変わる*/
    color : #33f319;
  }
  
  h1 {  /*h1の色彩*/
      color:rgb(234, 45, 222);
  }

  h2 {  /*h2の色彩*/  
    color:rgb(74, 152, 221);
    font-size: 40px;
  }

  h3{  /*h3の色彩*/
      color:rgb(235, 85, 40);
      font-size:25px;
      text-align: center;
  }

  h4{  /*h4の色彩*/
      color:rgb(18, 238, 26);
  }

.zentai {  /*zentaiというdiv要素について*/
  display: grid;                      /* グリッドレイアウトにする*/
  grid-template-columns: 1fr 1fr 1fr; /* 3列にする．幅は 1:2:2 の比率*/
  grid-template-rows: 100px 100px;    /* 2行にする．高さはともに 100px */
  grid-gap: 10px;                     /* 隣り合う行（列）の間隔を 10px に*/

  width: 1500px;
}


h4 {  /*h4要素のフォントスタイル*/
  font-style:italic;
}

body {  /*body要素の文字の間隔*/
  letter-spacing:0.02em;
}

h3 {
  color: #364e96;
  border: solid 3px #a6d3c8;
  border-radius: 0.5em;
  padding: 0.5em;
}

body {  /*body要素の背景の色彩*/
  background-color: rgba(182, 247, 247, 0.173);
}

/*
body {
  background: repeating-linear-gradient( 45deg, #b6d2e8, #2196F3 10px, #d0ecff 10px, #d0ecff 50px );
}*/

h1 {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem 1rem 4rem;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #3c98ea;
}

h1:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}

h2 {
  position: relative;
  overflow: hidden;
  padding: 1.5rem 2rem 1.5rem 130px;
  border-top: 3px solid rgb(54, 218, 103);
}

h2:before {
  position: absolute;
  top: -150%;
  left: -100px;
  width: 200px;
  height: 300%;
  content: '';
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  background: rgb(76, 236, 193);
}

h2 span {
  font-size: 40px;
  font-size: 4rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  padding-top: 3px;
  padding-left: 16px;
  color: rgb(74, 152, 221);
}

.box {
  font-size: 25px;
}

.content a{
  font-weight:bold;
  display: inline-block;
  transition:.3s;
  transform: scale(1);
  }

  .sub-title{
    color:rgb(42, 81, 235);
  }