a:link {
    color: rgb(51, 139, 197);
  }
  
  a:visited {
    color: rgb(207, 33, 85);
  }
  
  a:hover {
    text-decoration: none;
  }
  
  h1 {
      color:rgb(201, 35, 35);
  }

  h2,h3{
      color:rgb(18, 126, 177);
  }
  body{
    background-color: rgb(212, 212, 212);
  }